@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
 
$fontMain: 'Roboto', sans-serif;

$textSm:2em;
$textMd:2.5em;
$textXl:3.5em;
 
$textBold:600;
  
$textCenter: center;
$textRight: right;
$textLeft: left;